/**
 * Stylesheet for the CategoryTree extension.
 *
 * @file
 * @ingroup Extensions
 * @author Daniel Kinzler, brightbyte.de
 * @copyright © 2006 Daniel Kinzler
 * @licence GNU General Public Licence 2.0 or later
 */

.client-js #mw-subcategories ul {
	list-style: none none;
	margin-left: 0.25em;
}

#mw-panel div.portal div.body .CategoryTreeTag {
	margin: 0;
	font-size: 0.75em;
	line-height: 1.125em;
}

#mw-panel div.portal div.body .CategoryTreeItem {
	padding: 0.25em 0;
}

.CategoryTreeChildren {
	margin-left: 1.25em;
}

.CategoryTreeBullet,
.CategoryTreeEmptyBullet {
	cursor: default;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.CategoryTreeToggleHandlerAttached {
	cursor: pointer;
}

.CategoryTreeEmptyBullet {
	color: #c0c0c0;
}

.CategoryTreeBullet a,
.CategoryTreeBullet a:link,
.CategoryTreeBullet a:active,
.CategoryTreeBullet a:visited {
	text-decoration: none;
	color: inherit;
	speak: none;
}

/* Hide toggle buttons for clients without JavaScript */
.client-nojs .CategoryTreeBullet,
.client-nojs .CategoryTreeEmptyBullet {
	display: none;
}

.CategoryTreeToggle {
	color: #0645ad;
}

.CategoryTreeLabelPage {
	font-style: italic;
}

.CategoryTreeParents {
	margin-top: 1.5ex;
	font-style: italic;
}

.CategoryTreeResult {
	margin-top: 1.5ex;
}

.CategoryTreeTag {
	margin-top: 0.5ex;
	margin-bottom: 0.5ex;
    margin-left: -15px;
    margin-right: -15px;
}

.CategoryTreeNotice {
	font-style: italic;
}

.CategoryTreeCategoryBarItem {
	/* yes, specify display twice! quirk for FF2 */
	display: -moz-inline-box;
	display: inline-block;
	/* why is the -0.5ex needed? */
	margin: -0.5ex 0 0 1ex;
	padding: 0;
	vertical-align: top;
	/* IE6-7 Hack for display: inline-block */
	zoom: 1;
	*display: inline; /* stylelint-disable-line declaration-block-no-duplicate-properties */
}
.
.CategoryTreeSection {
	direction: ltr;
}

.dokit-cat {
    float:left;
    width:100%;
    margin-bottom: 45px;
}

.dokit-cat .CategoryTreeSection {
    width: 100%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.dokit-cat .CategoryTreeSection .CategoryTreeItem {
    text-align: center;
    border: 1px solid #ccc;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    padding:7px;
    font-size: 16px;
    border-radius: 4px;
    margin-bottom: 20px;
}

.dokit-cat .CategoryTreeSection .CategoryTreeItem:hover, .mw-category-generated #mw-subcategories .CategoryTreeSection:hover {
    box-shadow: 0px 1px 3px 0 rgba(0,0,0,0.36);
}

.dokit-cat .CategoryTreeBullet, .dokit-cat .CategoryTreeEmptyBullet {
	display:none;
}

.dokit-cat .CategoryTreeSection .CategoryTreeChildren .CategoryTreeSection {
    width: 100%;
    float: left;
    margin: 0%;
    border: none;
    padding: 0px;
  }

body[class^='page-Category_'] .contentHeader, body[class*='page-Category_'] .contentHeader,
body[class^='page-Catégorie_'] .contentHeader, body[class*='page-Catégorie_'] .contentHeader,
body[class^='page-Category_'] .mw-indicators, body[class*='page-Category_'] .mw-indicators,
body[class^='page-Catégorie_'] .mw-indicators, body[class*='page-Catégorie_'] .mw-indicators {
	display: none;
}

/*********************
 * breadcrumbs
 *********************/

.breadcrums-container .breadcrum {
    font-size:19px;
    margin: 25px 0px 15px -5px;
 }

 .breadcrums-container .breadcrum-separator {
    margin: 0px 5px;
    font-size: 0.85em;
    color: #ccc;
 }

.breadcrums-container .breadcrum-element a {
    padding: 5px;
 }

 .breadcrums-container .breadcrum-element a:hover {
    background-color:#d9eaf8;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-decoration: none;
 }

/*********************
 * Category Tree Standard Page
 *********************/

.mw-category-generated #mw-subcategories {
    width: 100%;
    float: left;
    margin-bottom: 40px;
}

.mw-category-generated #mw-subcategories ul {
    margin-left: 0;
    padding-left: 0px;
    margin-left: -15px;
    margin-right: -15px;
}

.mw-category-generated h2 {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    font-size: 25px;
    margin-bottom: 20px;
    float: left;
    margin-top: 15px;
    width: 100%;
}

.mw-category-generated .load-more, .mw-category-generated .load-more-previous {
    margin: 10px auto 50px;
    padding: 11px;
    font-size: 16px;
}

.mw-category-generated #mw-subcategories .CategoryTreeChildren {
    margin-left:0px;
}

.mw-category-generated #mw-subcategories .CategoryTreeEmptyBullet, .mw-category-generated #mw-subcategories .CategoryTreeBullet {
	display:none;
}

.mw-category-generated #mw-subcategories .CategoryTreeChildren .CategoryTreeSection {
    text-align: center;
    border: 0px;
    padding: 0px;
}

.table-edit-form ul.dynatree-container {
    border: 1px solid #bbb;
    overflow: auto;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.table-edit-form .pfTreeInput {
    height: 106px;
	width: 100%;
}

.mw-category-generated #mw-subcategories li {
    width: 100%;
    float: left;
    padding-left: 15px;
	padding-right: 15px;
}

@media (min-width: 630px) {
.mw-category-generated #mw-subcategories li {
    width: 50%;
}
.dokit-cat .CategoryTreeSection {
    width: 50%;
}
}

@media (min-width: 992px) {
.mw-category-generated #mw-subcategories li {
    width: 33.33%;
}
.dokit-cat .CategoryTreeSection {
    width: 33.33%;
}
}

@media (min-width: 1200px) {
.mw-category-generated #mw-subcategories li {
    width: 25%;
}
.dokit-cat .CategoryTreeSection {
    width: 25%;
}
}

.CategoryTreeItem .subcontent-label, .CategoryTreeItem .empty-label {
    font-size:13px;
    color: #999;
    margin:0 5px;
}

.CategoryTreeImage img {
    width: 100%;
}

.CategoryTreeImage {
    height: 50px;
    overflow: hidden;
}

a.CategoryTreeSection {
    text-align: center;
    border: 1px solid #ccc;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    padding:7px;
    font-size: 16px;
    border-radius: 4px;
    margin-bottom: 20px;
    float:left;
    width: 100%;
}

.dokit-cat-tree-hp .CategoryTreeTag {
    line-height: 25px;
}

.dokit-cat-tree-hp .CategoryTreeTag {
    margin-left: 0px;
    margin-right: 0px;
}

.dokit-cat-tree-hp .CategoryTreeSection a.CategoryTreeLabel {
    padding: 0px;
    float: inherit;
    font-size:14px;
}

